<div class="navbar navbar-fixed-top" id="mynbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar mybars"></span>
                <span class="icon-bar mybars"></span>
                <span class="icon-bar mybars"></span>

            </button>
            <a class="navbar-brand colorwhite" href="index.html">Share My Order</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">

            <ul class="nav navbar-nav navbar-right mynavcontainer">

                <li class="myname"><button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">+ New Order</button></li>
                <li class="myname username clickabletop">Profile</li>
                <li class="myname username">{{name}}</li>
                <li class="myname"><button type="button" class="btn btn-danger" onclick="logOut()">LOGOUT</button></li>



            </ul>
        </div>
    </div>
</div>



<div class="container themaincontainer">
    <label class="grouplabel">Your groups</label>

    <div class="col-xs-12 col-md-8 eachgroup">

        <div class="thetopsection">

            <div class="topfields">Collage <span>PDPU</span></div>
            <div class="topfields">Members <span>6</span></div>
            <div class="topfields">Total <span>450</span>  &#8377;</div>
        </div>

        <div class="themiddlesection">
            <div class="buyertitle">Buyer</div>
            <div class="buyer"><div class="buyerimagecontainer"><img src="images/me.jpg" class="buyerimage"></div> <div class="buyername">Pradip</div></div>
            <div class="buyertitle">Store</div>
            <div class="buyer">Amazon</div>
        </div>


        <div class="thefootersection">
            <button class="col-xs-12  col-md-offset-2 col-md-3 btn btn-success sendjoinreq" type="button">Messages</button>
            <button class="col-xs-12  col-md-offset-2 col-md-3 btn btn-warning sendjoinreq" type="button">See more members</button>
        </div>
    </div>


    <label class="grouplabel"> Groups in which you are a member</label>

    <div class="col-xs-12 col-md-8 eachgroup">

        <div class="thetopsection">

            <div class="topfields">Collage <span>PDPU</span></div>
            <div class="topfields">Members <span>6</span></div>
            <div class="topfields">Total <span>450</span>  &#8377;</div>
        </div>

        <div class="themiddlesection">
            <div class="buyertitle">Buyer</div>
            <div class="buyer"><div class="buyerimagecontainer"><img src="images/me.jpg" class="buyerimage"></div> <div class="buyername">Pradip</div></div>
            <div class="buyertitle">Store</div>
            <div class="buyer">Amazon</div>
        </div>


        <div class="thefootersection">
            <!--<button class="col-xs-12  col-md-offset-1 col-md-3 btn btn-primary sendjoinreq" type="button" data-toggle="modal" data-target="#myModal2"> Send Join Request</button>-->
            <button class="col-xs-12  col-md-offset-2 col-md-3 btn btn-success sendjoinreq" type="button">Messages</button>
            <button class="col-xs-12  col-md-offset-2 col-md-3 btn btn-warning sendjoinreq" type="button">See more members</button>
        </div>
    </div>




    <label class="grouplabel" > Other Groups</label>

    <div class="col-xs-12 col-md-8 eachgroup">

        <div class="thetopsection">

            <div class="topfields">Collage <span>PDPU</span></div>
            <div class="topfields">Members <span>6</span></div>
            <div class="topfields">Total <span>450</span>  &#8377;</div>
        </div>

        <div class="themiddlesection">
            <div class="buyertitle">Buyer</div>
            <div class="buyer"><div class="buyerimagecontainer"><img src="images/me.jpg" class="buyerimage"></div> <div class="buyername">Pradip</div></div>
            <div class="buyertitle">Store</div>
            <div class="buyer">Amazon</div>
        </div>


        <div class="thefootersection">
            <button class="col-xs-12  col-md-offset-1 col-md-3 btn btn-primary sendjoinreq" type="button" data-toggle="modal" data-target="#myModal2"> Send Join Request</button>
            <button class="col-xs-12  col-md-offset-1 col-md-2 btn btn-success sendjoinreq" type="button">Messages</button>
            <button class="col-xs-12  col-md-offset-1 col-md-3 btn btn-warning sendjoinreq" type="button">See more members</button>
        </div>
    </div>






</div>



<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Order</h4>
            </div>
            <div class="modal-body">
                <div class="form-group" >
                    <label for="store">Select store</label>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{selectedstore}}
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <!-- <li><a href="#">HTML</a></li>
                            <li><a href="#">CSS</a></li>
                            <li><a href="#">JavaScript</a></li> -->
                            <div ng-repeat="store in stores" class="store" ng-click="assignStore(store)">
                                {{store}}
                            </div>
                        </ul>
                    </div>
                </div>
                <button type="button" class="btn btn-success" onclick="showItemform()">+Add Item</button>
                <div ng-repeat = "item in items" class="eachitem" >
                    <div class="itemname">Item: {{item.name}}</div>
                    <div class="itemprice">Price: {{item.price}} &#8377;</div>
                </div>
                <form id="myItemform" style="display:none;">
                    <div class="form-group">
                        <label for="itemname">item name</label>
                        <input class="form-control" type="text" id="itemname" placeholder="item name" ng-model="itemname">
                    </div>
                    <div class="form-group">
                        <label for="itemprice">item price</label>
                        <input class="form-control" type="number" id="itemprice" placeholder="item price" ng-model="itemprice">
                    </div>
                    <div class="form-group">
                        <label for="itemurl">item url</label>
                        <input class="form-control" type="text" id="itemurl" placeholder="item url" ng-model="itemurl">
                    </div>


                    <button type="button" class="btn btn-primary" ng-click="addItem()" onclick="hideForm()">Add</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="newOrder()" data-dismiss="modal">Submit</button>
            </div>
        </div>

    </div>
</div>






<!--send request modal-->

<div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Order</h4>
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-success" onclick="showItemformreq()">+Add Item</button>
                <div ng-repeat = "item in items" class="eachitem" >
                    <div class="itemname">Item: {{item.name}}</div>
                    <div class="itemprice">Price: {{item.price}} &#8377;</div>
                </div>
                <form id="myItemformreq" style="display:none;">
                    <div class="form-group">
                        <label for="itemnamereq">item name</label>
                        <input class="form-control" type="text" id="itemnamereq" placeholder="item name" ng-model="itemnamereq">
                    </div>
                    <div class="form-group">
                        <label for="itempricereq">item price</label>
                        <input class="form-control" type="number" id="itempricereq" placeholder="item price" ng-model="itempricereq">
                    </div>
                    <div class="form-group">
                        <label for="itemurlreq">item url</label>
                        <input class="form-control" type="text" id="itemurlreq" placeholder="item url" ng-model="itemurlreq">
                    </div>

                    <div class="form-group" >
                        <label for="store">Select store</label>
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{selectedstore}}
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <!-- <li><a href="#">HTML</a></li>
                                <li><a href="#">CSS</a></li>
                                <li><a href="#">JavaScript</a></li> -->
                                <div ng-repeat="store in stores" class="store" ng-click="assignStore(store)">
                                    {{store}}
                                </div>
                            </ul>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" ng-click="addItem()" onclick="hideFormreq()">Add</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"  data-dismiss="modal">Submit</button>
            </div>
        </div>

    </div>
</div>